MOVIES RECOMMENDATION PROJECT

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
movies=pd.read_csv('movies.csv')
movies.head(7)

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
5        6  ...                        Action|Crime|Thriller
6        7  ...                               Comedy|Romance

[7 rows x 3 columns]

In [ ]:
data=data.merge(movies,on='movieId',how='left')
data.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       1  ...                               Comedy|Romance
2       1  ...                        Action|Crime|Thriller
3       1  ...                             Mystery|Thriller
4       1  ...                       Crime|Mystery|Thriller

[5 rows x 6 columns]

In [ ]:
average_ratings=pd.DataFrame(data.groupby('title')['rating'].mean())
average_ratings.head()

                                         rating
title
'71 (2014)                                  4.0
'Hellboy': The Seeds of Creation (2004)     4.0
'Round Midnight (1986)                      3.5
'Salem's Lot (2004)                         5.0
'Til There Was You (1997)                   4.0

In [ ]:
average_ratings['Total Ratings']=pd.DataFrame(data.groupby('title')['rating'].count())
average_ratings.head()

                                         rating  Total Ratings
title
'71 (2014)                                  4.0              1
'Hellboy': The Seeds of Creation (2004)     4.0              1
'Round Midnight (1986)                      3.5              2
'Salem's Lot (2004)                         5.0              1
'Til There Was You (1997)                   4.0              2

In [ ]:
movie_user=data.pivot_table(index='userId',columns='title',values='rating')
movie_user.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN

[5 rows x 9719 columns]

In [ ]:
correlations=movie_user.corrwith(movie_user['Heat (1995)'])
correlations.head()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'71 (2014)                                NaN
'Hellboy': The Seeds of Creation (2004)   NaN
'Round Midnight (1986)                    NaN
'Salem's Lot (2004)                       NaN
'Til There Was You (1997)                 NaN
dtype: float64

In [ ]:
recommendation=pd.DataFrame(correlations,columns=['Correlation'])
recommendation.dropna(inplace=True)
recommendation=recommendation.join(average_ratings['Total Ratings'])
recommendation.head()

                                   Correlation  Total Ratings
title
'burbs, The (1989)                   -0.144579             17
(500) Days of Summer (2009)          -0.449467             42
...And Justice for All (1979)         1.000000              3
10 Things I Hate About You (1999)     0.166070             54
10,000 BC (2008)                      0.612112             17

In [ ]:
recc=recommendation[recommendation['Total Ratings']>100].sort_values('Correlation',ascending=False).reset_index()

In [ ]:
recc=recc.merge(movies,on='title',how='left')
recc.head(10)

                                               title  ...                                           genres
0                                        Heat (1995)  ...                            Action|Crime|Thriller
1  Léon: The Professional (a.k.a. The Professiona...  ...                      Action|Crime|Drama|Thriller
2                                      Aliens (1986)  ...                   Action|Adventure|Horror|Sci-Fi
3                                   Inception (2010)  ...  Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
4                              Reservoir Dogs (1992)  ...                           Crime|Mystery|Thriller
5                                  Fight Club (1999)  ...                      Action|Crime|Drama|Thriller
6                                     Memento (2000)  ...                                 Mystery|Thriller
7                                    Die Hard (1988)  ...                            Action|Crime|Thriller
8                                   GoldenEye (1995)  ...                        Action|Adventure|Thriller
9                              Godfather, The (1972)  ...                                      Crime|Drama

[10 rows x 5 columns]